root,
body {
  background-color: rgb(243, 243, 243);
  /* font-size: 90%; */
}

.bold {
  font-weight: bold;
}

h4 {
  font-size: 120%;
}

section > h2 {
  border-bottom: black 1px solid;
  font-size: large;
}

li {
  page-break-inside: avoid;
}

.language-selection {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.language-flag {
  width: 2rem;
  height: auto;
}

.dont-break > h2 {
  page-break-after: avoid;
  break-after: avoid;
}

@media print {
  root,
  body {
    background-color: white;
    font-size: 80%;
    margin-left: 0;
    margin-right: 0;
  }

  .print-default {
    text-decoration: inherit;
    color: inherit;
  }

  .screen-only {
    display: none !important;
  }

  .language-selection {
    display: none;
  }

  .dont-break > h2 {
    page-break-after: avoid;
    break-after: avoid;
  }
}

.activities {
  background-color: rgb(238, 238, 238);
  border-left: 5px solid lightblue;
  margin-bottom: 5px;
}
