root,
body {
  background-color: rgb(243, 243, 243);
}

.screen-only {
}

section > h2 {
  border-bottom: black 1px solid;
}

li {
  page-break-inside: avoid;
}

@media print {
  root,
  body {
    background-color: white;
  }

  .print-default {
    text-decoration: inherit;
    color: inherit;
  }

  .screen-only {
    display: none !important;
  }
}

.activities {
  background-color: rgb(238, 238, 238);
  border-left: 5px solid lightblue;
}
